.dropdown {
    background-color: #0f0;
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
    width: 800px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

/* .dropdown {
    background-color: #0f0;
    display: inline-block;
    position: relative;
}

.dropdown-menu {
    display: none;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
} */